__pycache__
dist
build
jellyfin_mpv_shim.egg-info
webclient
cefpython3
*.dll
*.spec
*.pyc
mpv32
.eggs
jellyfin_mpv_shim/default_shader_pack/*
*.mo
.last_sp_version
.last_wc_version
debug.log
publish
pyinstaller

.vscode/